@page "/carrello"
@inject DBBottiglie DB;
@inject Sessione sessione;
@inject NavigationManager NavigationManager;

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">Carrello</h3>
            <table id="shoppin0gCart" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th style="width:60%">Prodotti</th>
                        <th style="width:12%">Prezzo</th>
                        <th style="width:10%">Q.tà</th>
                        <th style="width:16%"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ElencoBottiglie.Length == 0) {
                        <tr>
                            <td colspan="4">
                                <div class="col bg-warning">
                                    <p class="mt-3">CARRELLO VUOTO</p>
                                </div>
                                <a href="/shop">
                                    <button class="btn mt-3 float-end">
                                        <i class="bi bi-send"></i>
                                        <span>Vai all'elenco completo dei vini</span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                    else {
                    
                    double importo = 0.0;
                    @foreach (Bottiglia b in ElencoBottiglie)
                    {
                        int tot=0;
                        foreach(int x in sessione.Articoli){
                            if (x == b.ID)
                                tot+=1;
                        }
                        importo += (b.Prezzo*tot);
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <img src="@b.PercorsoImmagine" alt="" style="height:150px; width:auto" class="img-fluid d-none d-md-inline rounded shadow ">
                                    </div>
                                    <div class="col-md-9 text-left mt-sm-2">
                                        <h4 class="fw-bolder">@b.Nome</h4>
                                        <p class="font-weight-light">Prodotto a @b.ProvinciaProduzione</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">@b.Prezzo.ToString("0.00") €</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control form-control-lg text-center" value="@tot">
                            </td>
                            <td>
                                <div class="text-right">
                                    <button class="btn btn-md mb-2" @onclick='() => RimuoviBottiglia(b.ID)'>
                                        <i class="oi oi-trash"></i>
                                    </button>
                                </div>   
                            </td>
                        </tr> 
                        
                    }
                    <tr>
                        <td class="col-6">
                                <h3>TOTALE: @importo.ToString("0.00")</h3>  
                        </td>
                        <td colspan="3" class="col-6">
                                <button class="btn float-end" @onclick="PulisciCarrello">
                                    <i class="oi oi-cart"></i>
                                    <span>Acquista</span>
                                </button>
                        </td>
                        </tr>

                    }
                </tbody>
            </table>
                         
        </div>
        
    </div>
  </div>
</section>


@code {

    private Bottiglia[] ElencoBottiglie; 
    protected override async Task OnInitializedAsync() {
        if (sessione.Articoli.Count>0)
            ElencoBottiglie = await DB.GetElencoCarrello(sessione.Articoli);
        else ElencoBottiglie = new Bottiglia[0];
    }

    protected void RimuoviBottiglia(int id) {
         if (sessione.Articoli.Count>0) {

            // Rimuove dall'array l'elemento selezionato
            ElencoBottiglie = ElencoBottiglie.Where(x => x.ID != id).ToArray();
            // Rimuove l'id della bottiglia dall'elenco
            //sessione.Articoli.Remove(id);
            sessione.Articoli = (sessione.Articoli).Where(x => x != id).ToList();
         }
    }

    protected void AggiornaCarrello() {
         NavigationManager.NavigateTo("/carrello");
    }

    protected void PulisciCarrello() {
        sessione.Articoli = new List<int>();
        ElencoBottiglie = new Bottiglia[0];
    }

        
}


