@page "/dettaglio/{ID:int}"
@inject HttpClient http;

@if (bot is not null) 
{
    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="col-12 col-md-4 position-relative">
                @if (bot.PercentualeSconto != 0)
                {
                    <span class="badge badge-secondary text-uppercase">Offerta</span>
                }
                <img class="w-100" src=@bot.PercorsoImmagine>
            </div>

            <div class="col-12 col-md-8">
                <h1 class="fw-bold">@bot.Nome - @bot.AnnoProduzione</h1>
                <h2 class="text-secondary fs-5 fw-lighter text-uppercase">@bot.ProvinciaProduzione - @bot.RegioneProduzione</h2>
                <hr>
                <div class="mb-3 d-flex flex-row align-items-center">
                    <i class="fs-4 bi bi-thermometer-half"></i>
                    <span class="ms-2 fs-5 fw-bold">@(bot.Gradazione.ToString("0.0"))°</span>
                </div>
                <p class="text-secondary">@bot.Descrizione</p>
                <div class="mb-3 d-flex flex-row align-items-center">
                    @if (bot.PercentualeSconto == 0)
                    {
                        <span class="fs-3 fw-bold">@Prezzo.ToString("C", CultureInfo.CreateSpecificCulture("it-IT"))</span>
                    }
                    else
                    {
                        <span class="small old-price text-decoration-line-through fs-5 text-secondary">@FullPrice.ToString("C", CultureInfo.CreateSpecificCulture("it-IT"))</span>
                        <span class="ms-2 fw-bolder fs-3">@Prezzo.ToString("C", CultureInfo.CreateSpecificCulture("it-IT"))</span>
                    }
                </div>
                <div class="d-flex justify-content-center justify-content-md-start pt-3">
                    <button class="btn text-center">
                        <i class="bi bi-cart3"></i>
                        <span>Aggiungi al carrello</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ID { get; set; }
    private Bottiglia bot;
    protected override async Task OnInitializedAsync()
    {
        Bottiglia[] tmp = await http.GetFromJsonAsync<Bottiglia[]>("/api/bottiglie/" + ID);
        bot = tmp[0];

        Prezzo = bot.Prezzo;
    }

    public double FullPrice { get; set; }
    public double Prezzo { 
        get
        {
            return FullPrice - (double)(FullPrice * bot.PercentualeSconto / 100);
        } 
        set
        {
            FullPrice = value;
        } 
    }
}

