<div class="wrapper">
    
    <div class="top-card align-items-center w-sm-100 position-relative">
        @if (PercSconto != 0) 
        {
            <span class="badge badge-secondary">Offerta</span>
        }
        <img src=@ImgPath alt="Sono qui!" class="my-2">
    </div>
    <div class="info-container w-100 h-100 rounded-top p-3">
        <p class="title text-truncate">@NomeVino <span class="year">@AnnoProduzione</span></p>
        <p class="text-white made-in">prodotto in provincia di</p>
        <p class="region">@ProvinciaProduzione</p>
        <p class="price flex-grow-1 d-flex mt-1 align-items-center fs-5 gap-2">
            @if (PercSconto != 0) 
            {
                <span class="small old-price text-decoration-line-through">@(FullPrice.ToString("C", CultureInfo.CreateSpecificCulture("it-IT")))</span>
                <span class="fw-bolder">@(Prezzo.ToString("C", CultureInfo.CreateSpecificCulture("it-IT")))</span>
            }
            else 
            {
                <span class="fw-bolder">@(Prezzo.ToString("C", CultureInfo.CreateSpecificCulture("it-IT")))</span>
            }
        </p>
        <button class="btn w-50 float-end" @onclick=@AddToCart>
            <span><i class="bi bi-cart-plus"></i> Aggiungi</span>
        </button>  
    </div>

</div>

@code {
    [Parameter]
    public string NomeVino { get; set; }

    [Parameter]
    public int AnnoProduzione { get; set; }

    [Parameter]
    public string ProvinciaProduzione { get; set; }
    
    public double FullPrice;

    [Parameter]
    public double Prezzo { 
        get 
        {
            return (double)this.FullPrice - (this.FullPrice * PercSconto / 100);
        } 
        set 
        {
            this.FullPrice = value;
        } 
    }

    [Parameter]
    public int PercSconto { get; set; }

    [Parameter]
    public string ImgPath { get; set; }
    public void AddToCart() {
        Blazoteca.Shared.CustomNavMenu.ItemsCount += 1;
    }
}